.HeaderSpot {
  margin: 50px;
  padding: 25px;
  border-color: black;
  border: solid;
  border: 4px solid #008cba;
}

.button {
  border-color: green;
  border: solid;
  border-width: 25px;
  font-size: 20px;
  border-radius: 10px;
  display: inline-block;
  font-weight: bold;
  border: 4px solid #008cba;
}

#entireThing {
  margin: 50px;
}
#info {
  margin: 50px;
  padding: 0px;
  border-color: black;
  border: solid;
  font-size: 24px;
  border: 4px solid #008cba;
  border-radius: 10px;
  font-weight: bold;
}

#square {
  background-color: white;
  color: black;
  background: white;
  border: solid solid solid solid;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 45px;
  padding: 0;
  text-align: center;
  width: 45px;
}

#squareM {
  background-color: white;
  color: black;
  background: green;
  border: solid solid solid solid;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 45px;
  padding: 0;
  text-align: center;
  width: 45px;
}

#squareMM {
  background-color: white;
  color: black;
  background: green;
  border: solid solid solid solid;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 45px;
  padding: 0;
  text-align: center;
  width: 45px;
}

#squareMMM {
  background-color: white;
  color: black;
  background: lightblue;
  border: solid solid solid solid;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 45px;
  padding: 0;
  text-align: center;
  width: 45px;
}

#squareMMMM {
  background-color: white;
  color: black;
  background: lightblue;
  border: solid solid solid solid;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 45px;
  padding: 0;
  text-align: center;
  width: 45px;
}

#squareMMMMM {
  background-color: white;
  color: black;
  background: yellow;
  border: solid solid solid solid;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 45px;
  padding: 0;
  text-align: center;
  width: 45px;
}

#found {
  background-color: green;
  color: white;
  background: green;
}

#squareMfound {
  background-color: green;
  color: white;
  background: green;
  border: solid solid solid solid;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 45px;
  padding: 0;
  text-align: center;
  width: 45px;
}

#squareMMfound {
  background-color: green;
  color: white;
  background: green;
  border: solid solid solid solid;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 45px;
  padding: 0;
  text-align: center;
  width: 45px;
}

#squareMMMfound {
  background-color: green;
  color: white;
  background: green;
  border: solid solid solid solid;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 45px;
  padding: 0;
  text-align: center;
  width: 45px;
}

#squareMMMMfound {
  background-color: green;
  color: white;
  background: green;
  border: solid solid solid solid;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 45px;
  padding: 0;
  text-align: center;
  width: 45px;
}

#squareMMMMMfound {
  background-color: green;
  color: white;
  background: green;
  border: solid solid solid solid;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 45px;
  padding: 0;
  text-align: center;
  width: 45px;
}

#squarered {
  background-color: red;
  color: black;
  background: red;
  border: solid solid solid solid;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 45px;
  padding: 0;
  text-align: center;
  width: 45px;
}

#squareSelected {
  background-color: black;
  color: white;
  background: black;
  border: solid solid solid solid;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 45px;
  padding: 0;
  text-align: center;
  width: 45px;
}

#squarePath {
  background-color: lightblue;
  color: lightblue;
  background: lightblue;
  border: solid solid solid solid;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 45px;
  padding: 0;
  text-align: center;
  width: 45px;
}

#errorC {
  background-color: white;
  color: red;
}

#squareDiagonal {
  background-color: green;
  color: green;
  background: green;
  border: solid solid solid solid;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 45px;
  padding: 0;
  text-align: center;
  width: 45px;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 15px;
}

.toptitle {
  text-align: center;
  font-weight: bold;
  font-size: 35px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
